doctype html(lang='en')
head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')

    meta(name='author', content='')

    link(rel='icon', href='../../favicon.ico')

    title nodeTorials
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/examples/blog/blog.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')

      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

  body
  .blog-masthead
    .container
      nav.blog-nav
        a.blog-nav-item.active(href='/home') Home

        a.blog-nav-item(href='/about') About

        a.blog-nav-item(href='links') Helpful Links

  .container
    .blog-header
      h1.blog-title Node.js Tutorials from Around the Web

      p.lead.blog-description A blog dedicated to discovering and reviewing Node.js tutorials

    .row
      .col-sm-8.blog-main
        block content
          // /.blog-post


        nav
          ul.pager
            li
              a(href='#') Previous

            li
              a(href='#') Next
      // /.blog-main
      .col-sm-3.col-sm-offset-1.blog-sidebar
        .sidebar-module.sidebar-module-inset
          h4 About

          p
             Etiam porta
            em sem malesuada magna
              mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.


        .sidebar-module
          h4 Elsewhere

          ol.list-unstyled
            li
              a(href='#') GitHub

      // /.blog-sidebar
    // /.row
  // /.container
  footer.blog-footer

    p
      a(href='#') Back to top
  //
    Bootstrap core JavaScript
    ==================================================
  // Placed at the end of the document so the pages load faster
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

  script.
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  // IE10 viewport hack for Surface/desktop Windows 8 bug
  script(src='https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js')
