.blog-post-title{
  margin-top: 30;
}


.links-box{
  background-color: #ededed;
  margin:auto;
  margin-bottom: 40;
}

p.link-title{
  font-size: 25;
}

a.links {
    color: #555;
}

a.mas {
  display: inline;;
  width: 80px;
  background: #ededed;
  color: #404137;
  padding: 8px;
  margin-top: 40px;
}

iframe{
  padding: 10px;
}

.blogpageside{
  margin-top: 40px;
}

p.about {
  margin-top: 20px;
}
